[2018-01-17 13:44] trotzig opened #3 "SVG images aren't properly inlined"
As part of preparing the payload to send to happo.io for screenshooting, images are inlined. For svg images, the resulting base64 url is incorrect. `data:image/svg;` should be `data:image/svg+xml`.

Found by looking at the diff for https://github.com/mineral-ui/mineral-ui/pull/521.

[2018-01-17 14:06] trotzig commented on #3
Fixed by d158573

[2018-01-17 14:06] #3 closed

[2018-06-13 10:11] trotzig opened #15 "Getting "Accessing nonexistent addons channel" error from storybook"
If you are integrating Happo with Storybook and you are using addons, you might see this error:

[code]

To work around this, you can add the following section to the top of your `.storybook/config.js` file:

[code]

[2018-06-13 10:13] trotzig commented on #15
Closing for now. The workaround should help unblock people. In the future, Happo might publish a storybook addon that will solve this without manual intervention.

[2018-06-13 10:13] #15 closed

[2018-07-03 22:07] parris opened #17 "Webpack v4 Support"
Hi! So we recently upgraded to webpack v4. Webpack 4 changes how plugins work, and webpack packages some basic plugins in with it. This means old plugins in happo's copy of webpack are not compatible with webpack from our codebase. In addition, even if webpack didn't ship with plugins, npm doesn't allow installation of the same package at 2 separate versions.

Our workaround solution was to do the

[2018-07-04 07:54] trotzig commented on #17
Hi! Thanks for outlining possible solutions to this and for finding and sharing a workaround. I went through the same thing with babel dependencies and landed in them being `peerDependencies` (https://github.com/enduire/happo.io/commit/643bcd573e6317b41b4c6f3184404363eac328db). I'll make the same change to webpack.

In the past, happo used to delegate bundling (be it webpack or another bundler) to

[2018-07-04 11:53] trotzig commented on #17
Alright, give version 2.0.0 a try and let me know how it goes! https://github.com/enduire/happo.io/releases/tag/v2.0.0

[2018-07-04 11:53] #17 closed

[2018-07-04 11:54] trotzig commented on #15
With the addition of [`happo-plugin-storybook`](https://www.npmjs.com/package/happo-plugin-storybook), this should no longer be an issue.

[2018-07-04 21:02] parris commented on #17
Thanks Henric! I'll try this out tomorrow ( happy birthday btw :) )

[2018-07-05 21:08] parris commented on #17
👍 this worked btw

[2018-07-05 21:09] trotzig commented on #17
Nice, good to hear. Thanks for circling back!

[2018-09-14 20:19] benbayard opened #25 "Wrap every component in an application wrapper"
hey folks! I was wondering if there was a way to wrap every happo example with another component.

Since we use `styled-components` + a theme we always wrap our happo examples in a theme provider:

[code]

There are ways we can obfuscate this away ourselves, for instance:

[code]

But I'd rather be able to configure happo to do this for us, so that all our components are wrapped behind the scenes.

[2018-09-14 20:30] trotzig commented on #25
Hi 👋

Right now this isn't possible. It has come up before however, and I've thought about doing it myself but never got around to it.

If you wanted to give it an attempt, this is where we'd have to inject the wrapper: https://github.com/enduire/happo.io/blob/d6fb633c3e4ba6bc5483938b7b7c8ffccecbbe48/src/createDynamicEntryPoint.js#L36

Things are made a little complicated due to the fact that webp

[2018-09-14 20:39] benbayard commented on #25
Yup, that's exactly what I was thinking! Thank you for the starting point, I'll talk to my team about this today!

[2018-09-14 20:42] trotzig commented on #25
Another idea would be to leverage the already-existing `setupScript` config option. Either use what’s exported from that file/module or allow people to define a global `window.wrapRender` function.

[2018-09-30 08:20] trotzig opened #30 "Move to ”happo” org"
The ”enduire” organization doesn’t make sense to most people. The ”happo” name was already taken, so I had to get creative (”enduire” is short for ”end ui regressions”).

The @happo user has no activity except for a forked repo, so I thought I’d try to reach out with an at-mention here in the hopes that they would be willing to hand over the github handle. 🙏

[2018-09-30 14:40] happo commented on #30
Hi @trotzig ,
I let you the name ;)
It was my first account on GitHub, and I don't use it anymore, I've an account more professional for my it school

Do I need to close the account ? Is there another way to do it ?
If you have some clues, I'll take it !

By the way, you're project is very interesting

[2018-09-30 15:35] trotzig commented on #30
Thank you, that’s very generous! Let’s sync this over email, shall we? Send me an email at henric.trotzig@happo.io and we’ll take it from there!

[2018-10-01 08:24] #30 closed, assigned to nobody

[2018-10-01 09:47] trotzig commented on #30
Just to summarize things (for anyone wondering) this is what we did:

1. @MaximeNeuville renamed his @happo account, then told me the name was available
2. I renamed the enduire organization to happo.
3. Done!

Again, I'd like to thank @MaximeNeuville for his generous action.

[2018-10-01 12:10] MaximeNeuville commented on #30
I'm glad to help you !

[2018-10-05 22:13] benbayard opened #31 "Error with Dynamic imports"
👋 hi everyone, when we try to dynamically import some icons using webpack 3+4 dynamic import syntax we get this error in CI for happo:

[code]

Here is our happo config for webpack customization:

[code]

[2018-10-06 10:39] trotzig commented on #31
Hi, and thanks for the report! I think the best thing we can do here is to make dynamic imports synchronous in nature when they’re in a happo suite. I’ll play around with this early next week to see what I can come up with.

[2018-10-06 15:51] trotzig commented on #31
Good point. In this case, I think we can just add a setTimeout to defer things.

[2018-10-06 16:07] ljharb commented on #31
https://npmjs.com/babel-plugin-dynamic-import-node

[2018-10-08 09:15] #31 closed

[2018-10-08 12:13] #25 closed

[2018-10-08 12:20] trotzig commented on #25
@benbayard I pushed a change with support for wrapping, it's been released in 3.1.0. Let me know how things work out! Here's a link to docs:
https://github.com/happo/happo.io#renderwrappermodule

[2018-10-11 08:19] trotzig opened #34 "Error "undefined" in TypeScript projects"
Cross-posting this issue here. It was reported in the Happo slack channel:

From @benbayard:

I am getting an odd error message when I try implementing the new wrapper module in happo:

./src/application-wrapper.tsx
[code]

npm run happo run:

[code]

[2018-10-11 08:27] trotzig commented on #34
The fix for this issue was included in v3.1.1

[2018-10-15 23:02] benbayard opened #37 "Dynamic Imports do not work with TypeScript"
Since we do not use babel w/ the happo-typescript-plugin the solution for #32 does not work. I still get this error:

This can be fixed in babel@7 with the typescript babel plugin. It might also be possible to use ts-loader to parse the module, then use babel to re-parse it.

[code]

[2018-10-16 14:30] trotzig commented on #37
Thanks @benbayard!

I don't have much experience with typescript and its toolchain. Would your project build correctly with that setup? In that case I might change the happo typescript plugin so that it uses babel.

[2018-10-16 18:14] benbayard commented on #37
It should work, but it's hard to test because it requires babel@7 and happo currently uses @6. I have high confidence however. And if it doesn't then something is wrong with our project that we should fix any way!

[2018-10-16 19:00] trotzig commented on #37
Happo works with babel 7 as well, in fact it's what I use internally in other (private) happo repositories. For instance, here's one place where we try loading a new `@babel` package, and fall back in case it's not available. This isn't well documented however, sorry for that. I'm hoping to kill babel 6 support soon and at that time it should be more straightforward.

[2018-10-16 19:01] trotzig commented on #37
Btw, do you currently have a workaround for the dynamic import issue? Are you disabling certain happo test files because of it? I'm asking to figure out if this is a blocker or not.

[2018-10-16 20:02] benbayard commented on #37
We are wondering what we will do. Likely we will skip some happo tests.

[2018-10-16 20:45] benbayard commented on #37
Update: We have to upgrade our main app to babel7 to support true dynamic imports. As a result we will probably tackle this in a few weeks. So there's plenty of time here!

[2019-01-21 12:04] jtomaszewski opened #52 "Ability to list reports"
Instead of running Happo for every PR, we'd prefer to running it only once every night on a nightly CI build.

Thus, for example, we want to build a report every Monday-Friday night, that runs the happo for the current master, and compare it with the report from the previous day.

To do this, we need to query for all of the reports, in order to select with which report should we compare the new re

[2019-01-21 12:14] trotzig commented on #52
Hi @jtomaszewski! Adding an ability to query the API for a list of available reports is certainly possible, but I wonder if you could do things slightly differently. The `sha` part of a `happo run <sha>` is an arbitrary identifier, it doesn't have to be a commit hash. So you could for instance have a nightly job that did something like this:

[code]
Would that work? If not, can you explain a littl

[2019-01-21 15:58] jtomaszewski commented on #52
Yeah, the way you explained with using current date in report's SHA is exactly what I thought about 10min later and what I'm working on atm ;)

So I'll be able to do it in that way. I'm writing now a shell script that check last ~3-4 days and see if a build is done under such SHA, if yes, then it makes the compare.

Although if there'd be existing script that could do it that would be nice. I thin

[2019-01-22 11:42] jack-sf commented on #52
Just following up. We've done a shell script like that for our nightly CircleCI builds:

[code]

Maybe you want to put it somewhere as an example? Definitely could be useful to some other happo users ;)

[2019-01-28 13:01] jack-sf opened #54 "Possibility to replace config parameters in CLI with CLI args"
For example, even if my `.happo.js` includes

[code]

if I could do `happo run --targets ie11` or `happo dev --targets safari-mobile` , I could limit the targets to be enabled on this run only to the specified targets.

(Similarly as `--only xxx` works in `happo dev` mode.)

[2019-01-28 13:09] trotzig commented on #54
This would be a nice addition, thanks for suggesting it!

I can't make any promises to when we'll get to this, so I'd be very happy to accept a PR! I think the easiest way would be to start at `src/executeCli.js`, add another `commander` option (`--targets`?), pass that value to `loadUserConfig` and have it filter out the right targets.

[2019-01-28 13:10] trotzig commented on #54
...and sorry about the instability of ios-safari. I'm working on that, I hope to have an update for you soon!

[2019-01-28 13:14] jack-sf commented on #54
Would a `--target` be a better name?

[2019-01-28 13:15] trotzig commented on #54
That would work too. I don't feel strongly about it, as long as you're able to specify one or more targets. Either `--targets ie,chrome` or `--target chrome --target ie`, I'm okay with both.

[2019-02-11 10:41] trotzig opened #58 "TypeError: Cannot read property 'length' of undefined"
A bug was introduced in happo.io@3.9.0 causing happo runs for [`happo-plugin-storybook`](https://www.npmjs.com/package/happo-plugin-storybook) to fail with the following error:

[code]

[2019-02-11 10:57] #58 closed

[2019-03-01 02:27] reywright opened #64 "Run happo via a node script?"
I'm trying to run happo via a node script, and I'm running into a lot of issues.

[code]

If I spawn this off, there's a couple of issues. Firstly, there will be a bunch of un-exited processes after the build has completed, if you grep for them (`ps -ef | grep happo`).

The 2nd problem: The script will return a signal before it should. So in my cmd line, the script executes, completes and kicks yo

[2019-03-01 11:05] trotzig commented on #64
Hi @reywright! 👋

Can you describe the use-case behind running happo this way? I'm just trying to understand things better. Also, do you happen to have any error logs? 🙂

From a quick look, I think you could get things working by setting the `cwd` option for `spawn`. I just tried this locally, and it worked for one of my projects:

[code]

where `happo-project` is a folder in my home directory (`~

[2019-03-01 15:50] reywright commented on #64
Yeah absolutely, and thank you for the response. So I'll break this up into 2 comments, one describing the intention, and then later on I'll try out some of your suggestions, and see if those work (and if they don't, I'll try to create a working example).

So the the use case: at our company, we have a lot of different repo's, (or packages inside a mono repo) that share similar configuration. We'r

[2019-03-01 16:12] ljharb commented on #64
It’s worth noting that this concept, including in the examples you mentioned, has lots of caveats and often breaks in surprising ways. Having a bunch of PRs and writing a tool to manage those might be easier than this approach.

[2019-03-01 17:35] trotzig commented on #64
@ljharb if you have time, could you list a few of those caveats? It doesn't have to be super specific, I'm guessing this is based on seeing issues over a long period of time in your own org? The ones I can think of is webpack config, css-loading, resolving paths relatively to the local package, etc.

@reywright if I remember @flarnie right (we chatted a few days back) you are using Storybook, righ

[2019-03-01 17:40] ljharb commented on #64
This user has run into a few :-) cwd confusion, process signals/traps, but also dependency issues; what happens if someone depends on one of the tools (eslint, happo, Babel, etc) directly and they conflict, IDE integration which fully supports eslint as a top level dep but may not necessarily if eslint happens not to be hoisted to the top level; also customization in general, react-scripts forces

[2019-03-01 18:29] reywright commented on #64
@ljharb very interesting, and thanks for the feedback.

I honestly just don't see a reality of a tool that can go out to these different repo's and projects and make these PR's you're referring, not only from a functionality perspective, but actually getting approval from the respective engineers on those projects, and then get merged in. Some of the PR's would eventually get stale as well, and su

[2019-03-01 18:31] ljharb commented on #64
I’ve seen many issues with the public projects you mention - standard, react-scripts, etc - and we’ve run into similar issues trying to write a robust tool.

Making a bot account that can merge PRs without engineer approval, even, is totally doable.

[2019-03-13 19:56] trotzig opened #67 "Fail early when duplicates are found"
If you for instance have a `dist` folder and that folder contains copies of the happo files found in `src`, there's a chance the happo run fails at the very last step with a validation error (duplicates found). We should detect this as early as possible.

[2019-03-13 20:13] trotzig opened #68 "Silent failures when happo files are misconfigured"
In a standard happo run (no plugins), this happo test file will not cause any errors:

[code]
(notice how `baz` is not a function)

The end result will contain `default` and `bar` (`baz` will be ignored).

If we then apply the `happo-plugin-puppeteer` plugin, even weirder things happen. Suddenly none of the examples from the file are rendered, and there are no errors at all - nothing in the log (e

[2019-05-02 19:06] ahuth opened #73 "Transitive dependency missing"
After https://www.npmjs.com/advisories/830, it looks like all but the latest version of Ecstatic was removed from NPM (see https://github.com/jfhbrook/node-ecstatic/issues/255). This is an issue because it's a dependency of http server (https://github.com/indexzero/http-server/issues/521), which is a dependency of happo.io.

Because of this, I'm unable to install the package. The only solution may

[2019-05-02 19:32] trotzig commented on #73
Thanks for making me aware of this problem. The http-server dependency isn't vital for main happo execution (it is only used for `happo debug`), I think I can ditch that dependency temporarily.

[2019-05-02 19:45] #73 closed

[2019-05-02 19:51] trotzig commented on #73
The fix was released in `v3.14.0` - https://www.npmjs.com/package/happo.io/v/3.14.0

[2019-05-02 20:03] ahuth commented on #73
Thanks!

[2019-05-02 20:59] thornjad commented on #73
jfhbrook/node-ecstatic#256 will fix http-server

[2019-06-04 22:31] hellothereamy opened #78 "canvas error when running happo-ci"
When I run the happo-ci command, I get this error:

[code]

here are my package versions:
node 10.15.3
"canvas": "^2.5.0"
 "happo.io": "^3.17.0",

[2019-06-05 04:37] ggazzo opened #79 "wrong PREVIOUS_SHA using happo-ci-circleci"
we are testing happo here at [Rocket.chat](https://github.com/RocketChat) and we faced that script:
[code]

my question:
should `origin/master` be `origin/"BASE"`?

[2019-06-05 08:09] trotzig commented on #78
Interesting, I haven't seen this before. Is there a longer console log you could share? If you're not comfortable sharing the entire CircleCI job log here you can send it in an email to support@happo.io. I'm mainly thinking there could be something interesting in the `yarn install/npm install` section about failing to get (or build) native bindings for the `canvas` library (similar to what [this i

[2019-06-05 09:59] trotzig commented on #79
You are right, it shouldn't assume `master`. I'll address this right away, it will probably involve optionally setting a `BASE_BRANCH` environment variable to override the default.

[2019-06-05 10:39] #79 closed

[2019-06-05 10:46] trotzig commented on #64
I'm closing this due to lack of activity. Feel free to reopen if it still needs to be addressed!

[2019-06-05 10:46] #64 closed

[2019-06-05 12:05] trotzig commented on #79
Release 3.18.0 was released with a way to set the base branch using the `BASE_BRANCH` env variable:

[code]

Please note that you need to include the full branch name, e.g. `origin/dev` (and not `dev`).

[2019-06-05 16:47] hellothereamy commented on #78
Hi Henric,

thanks so much for your help! We ended up not even needing canvas so we just took it out...
and ta da! it works!

[2019-06-05 16:47] #78 closed

[2019-06-05 19:36] trotzig commented on #78
Yay! Glad you got it working! 🎉

[2019-06-19 19:41] trotzig opened #82 "React-dom required when using `pages`"
From a slack channel:

[2019-06-19 21:40] trotzig commented on #82
Closing, this was a red herring. The error was because the wrong config file was used.

[2019-06-19 21:40] #82 closed

[2019-07-16 17:53] JonahMoses opened #86 "Possible to avoid rebuilding within happo and have it point to an already built bundle?"
We're running happo in our CI for our PR builds and that process goes:

1. Build
2. Test
3. Screenshot Tests (Happo)

Part of step 3 is having happo rebuild our bundles, I'm curious if some one can point me in the direction of enabling happo to use the output from step 1. I saw that there is a `tmpdir` option (https://github.com/happo/happo.io#tmpdir) but haven't been successful with it yet. This

[2019-07-16 18:05] trotzig commented on #86
Hi @JonahMoses 👋

The `tmpdir` option isn't used (IIRC) when using the storybook plugin. This isn't supported right now, but it wouldn't take much to add an option to the happo-plugin-storybook code to allow reusing the build. [Right around here](https://github.com/happo/happo-plugin-storybook/blob/f46b2bec6833927f2dd623e0467bb0b47f87b3f6/index.js#L36) is where the static package is created. We co

[2019-07-16 19:41] JonahMoses opened #87 "How to silence build output"
I've tried a few variations of:

[code]
and I'm still seeing the build output in CI. Is it possible to silence these to errors only?
![image](https://user-images.githubusercontent.com/3462296/61324299-f22e6200-a7c6-11e9-91a9-fbd11b8ffd4a.png)

[2019-07-16 19:42] JonahMoses commented on #86
@trotzig this would be incredible, as it would certainly cut down on some build time for us!

[2019-07-16 20:17] trotzig commented on #87
It looks like the `stats` option has no effect when using directly in Node.js (which is what we do under the hood):

(from https://webpack.js.org/configuration/stats/)

Is that log from a successful build or a failed one? According to [this issue](https://github.com/webpack/webpack/issues/7052), compilation using the Node.js API isn't logging anything by default, and the only place I can see us lo

[2019-07-16 20:44] JonahMoses commented on #87
@trotzig Interesting, yeah I can see why this wouldn't work then. This was a successful build so I'm assuming this might be coming from the JSDOM... I'll explore that!

[2019-07-17 15:40] trotzig opened #88 "`happo dev` command not supported with some plugins"
Currently, none of the `happo-plugin-storybook` and `happo-plugin-gatsby` plugins work when running `happo dev`. The dev command mostly makes sense when you have your own `-happo.js` files, so it might not make sense to fix support -- we might just have to bail with some useful error message.

[2019-08-14 22:28] lencioni opened #95 "Blank screenshots for components that are mostly rendered in portals"
We have a component that renders everything inside a portal (created by using react-dom's `createPortal`). The screenshots for this component are always blank. Looking at the source in the happo report and most of the DOM nodes for these examples are missing.

I dug through the code, and I believe that our problem lies in this code: https://github.com/happo/happo.io/blob/2ff1257f757d1d5f8ba0f5bdff

[2019-08-14 22:59] lencioni commented on #95
I think the main problem here is that this code assumes there is a single root, but with portals there can be multiple roots.

[2019-08-15 09:45] trotzig commented on #95
I've made a change that will detect these scenarios and use `document.body` as the root. I published a version under the `next` tag on in case you want to try this out right away.

[code]
or
[code]

[2019-08-16 14:21] #95 closed

[2019-08-23 18:28] lencioni opened #100 "Assets referenced by inline styles are not uploaded with the assets package"
I have a snapshot that renders the following element:

[code]

When happo takes a screenshot of this element, the image is missing. When I view the snapshot source, I see the network request for this image 404.

![image](https://user-images.githubusercontent.com/195534/63614127-27348e00-c597-11e9-80fc-ebb8a236f645.png)

I believe that when the assets package is prepared, it is looking at global CS

[2019-08-26 07:26] #100 closed

[2019-09-12 16:16] lencioni opened #110 "Videos are not waited for like images are"
Happo will wait until images are ready, but not videos. We are using the `<video>` tag and seeing spurious diffs due to this.

[2019-09-18 15:33] lencioni commented on #110
Probably also need a robust way to ensure the video is always at the same frame.

[2019-09-18 16:32] trotzig commented on #110
Would it make sense to just show the poster image (if there is one)?

[2019-09-18 16:42] lencioni opened #112 "CSS animations for opacity are not consistently frozen (at least for Chrome)"
I have a number of examples where we are using CSS animations. It seems that the styles intended to freeze the animations are working for animations that affect styles like transform, but it is inconsistent for opacity. When looking at the view source in happo, I can tell that styles like `animation-play-state: paused` are being applied correctly and appropriately freezing these animations, but I

[2019-09-18 20:42] lencioni opened #113 "Feature request: add a way to configure targets to use the prefers reduced motion option"
Happo is allergic to animations. Some animations, like from animated GIFs, are hard to disable using CSS. I think it would be nice to add an option to targets (or maybe just make it the default) to allow them to be run with the prefers reduced motion option enabled. This would give consumers an easy way to fix this class of spurious diffs while also making their product more accessible.

More info

[2019-09-19 00:39] lencioni commented on #110
That sounds like it would work

[2019-09-19 10:34] #112 closed

[2019-09-20 03:51] lencioni opened #116 "Wait for all async to settle before capturing HTML when prerendering"
I'm not even totally sure this kind of thing would be useful, so this is more of just an idea.

I wonder if diffs could be made more stable by waiting for any in-flight async things (e.g. setTimeout) to settle before capturing the HTML when prerendering. Code that looks something like this could be used to handle setTimeout, for instance:

[code]

[2019-10-07 15:20] lencioni opened #121 "Images with `decoding="async"` may cause spurious diffs"
We have some img tags with `decoding="async"` where I see a higher number of spurious diffs, where sometimes the images are not rendered.

One way to fix this might be to have happo force `decoding="sync"` on all img tags.

[2019-10-07 19:21] lencioni commented on #121
It might also work to use image.decode() when available in the code that waits for images to load.

[2019-11-03 09:08] lencioni commented on #121
I think this has been fixed now.

[2019-11-03 09:08] #121 closed

[2019-11-03 09:08] lencioni commented on #113
This has been added to Chrome now!

[2019-11-03 09:08] lencioni commented on #110
Some fixes have landed for this which have helped a lot.

[2019-11-03 09:08] #110 closed

[2019-11-03 09:26] lencioni opened #133 "Run browsers in modes that disable animations better"
I know that Happo does some work to try to pause animations to help prevent spurious diffs, however the current techniques are not 100% effective--e.g. when rendering an animated GIF.

I wondered if Happo could run browsers in a way that disables more animations.

I poked around a bit and found this [Animation Policy Chrome extension](https://chrome.google.com/webstore/detail/animation-policy/ncig

[2019-12-24 14:10] jamesgeorge007 opened #145 "No warning shows up when an unknown command is passed in"
## Expected output

[code]

[2020-01-07 12:17] #145 closed

[2020-02-14 11:32] csvn opened #152 "Posting status to non-Github instances"
Hello,

I read through the section ["Posting status back..."](https://github.com/happo/happo.io#posting-statuses-back-to-prscommits), but only Github is ever mentioned here. I can't see any documentation, or if it is possible to integrate with any other repository management platform (e.g. Gitlab).

To support Gitlab CI, I guess being able to post to a webhook might be enough to be able to restart

[2020-02-14 11:47] trotzig commented on #152
Hi 👋!

As of right now, we only integrate directly with github. I would love to work with you to add gitlab support however! It’s been asked for a couple of times before but we’ve never got to the implementation phase so far.

Are you on gitlab.com or do you have an on-premise installation?

If you feel more comfortablr discussing these things over email, I’m at henric@happo.io.

[2020-02-14 12:32] csvn commented on #152
@trotzig We're currently using gitlab.com. Small disclaimer, I was just researching which options are available, since we're thinking about adopting Storybook for our components. I came upon Happo at [here](https://storybook.js.org/docs/testing/automated-visual-testing/#libraries-and-services-with-storybook-integration), and felt it looked very easy to integrate and very polished.

I don't think t

[2020-06-30 19:34] kyletov opened #165 "ModuleBuildError: Module build failed (from ./node_modules/react-scripts/node_modules/babel-loader/lib/index.js): SyntaxError: Unexpected token"
Hello, I'm having some trouble running the happo getting this error.
ModuleBuildError: Module build failed (from ./node_modules/react-scripts/node_modules/babel-loader/lib/index.js): SyntaxError: Unexpected token

<img width="330" alt="Screen Shot 2020-06-30 at 3 02 29 PM" src="https://user-images.githubusercontent.com/32151304/86166684-2c316a80-bae3-11ea-810f-08d27dd37432.png">

For context, this

[2020-06-30 20:27] trotzig commented on #165
Hi @kyletov! The config looks right, at least from when I tried this last time (in https://github.com/happo/happo-cra-typescript). I'm assuming you use jsx inside `src/pages/home` (which seems to get transpiled by babel correctly)? Would you mind printing/logging the full webpack config and sharing it here?

Without more context, one theory I have is that the file suffix for the `Home-happo` file

[2020-06-30 20:44] kyletov commented on #165
Hey @trotzig, I'm using Create-react-app to bootstrap the project. And by printing the full webpack config, are you talking about the react-scripts/config/webpack.config.js file?

[2020-06-30 20:49] trotzig commented on #165
The resulting object from this call would be interesting to look at: `craWebpackConfig('development')`

Is this a new create-react-app project or an existing one that you're integrating with happo? I'm asking because if it's a new one it should be fairly easy for me to reproduce this!

[2020-06-30 20:53] kyletov commented on #165
This is an existing project.

And this is the full webpack config below:
[code]

[2020-06-30 20:59] kyletov commented on #165
This is the resulting object from `craWebpackConfig('development')`:

<img width="408" alt="Screen Shot 2020-06-30 at 4 58 33 PM" src="https://user-images.githubusercontent.com/32151304/86176467-f7c5aa80-baf2-11ea-830a-24e2efef02ab.png">

[2020-06-30 21:03] kyletov commented on #165
This is the returning object from `craWebpackConfig('development')`:

<img width="408" alt="Screen Shot 2020-06-30 at 4 58 33 PM" src="https://user-images.githubusercontent.com/32151304/86176761-73bff280-baf3-11ea-88e7-8264d49c669b.png">

[2020-06-30 21:10] trotzig commented on #165
Okay, any chance you can `JSON.stringify` that object to make the log contain things from e.g. `rules[2].oneOf` get expanded?

I played around with a fresh create-react-app application and I'm not running into the same issues:
https://github.com/happo/happo-demo-create-react-app . That doesn't mean the problem doesn't exist, it's just that it's something specific to the setup you have.

Are the `h

[2020-06-30 21:23] kyletov commented on #165
The home-happo.js file is currently not in the same directory as the home.jsx file. I'll put them in the same directory and try again to see if that solves the problem.

And sorry about that, this is the `JSON.stringify` version of the object:
{"strictExportPresence":true,
"rules":[{"parser":{"requireEnsure":false}},{"test":{},"enforce":"pre","use":[{"options":{"formatter":"/node_modules/react-dev

[2020-06-30 21:28] trotzig commented on #165
Thanks! I can't spot the issue just by looking at the webpack config, but you can try renaming `home-happo.js` to `home-happo.jsx` and see if that makes any difference, if moving the files together doesn't help.

[2020-06-30 21:50] kyletov commented on #165
Ahh alright, I'll try doing that. And in general, does the files (home-happo.js and home.js) need to be in the same directory? Or should it still work if you give the correct import to home.js in home-happo.js?

And thanks for the help!

[2020-07-01 11:22] trotzig commented on #165
Location shouldn't matter from Happo's side, but it looks like there were some webpack config in your case that only transpiled jsx code in the `src` folder.

[2020-07-02 03:17] kyletov commented on #165
Hey @trotzig, just wanted to update that after I made the change you suggested, `renaming to .jsx and moving the files together`, solved the original error.

Thanks for the help!

[2020-07-02 18:13] #165 closed

[2020-07-03 20:19] matthieu-foucault opened #166 "Happo not updating GitHub check status on base branch"
Hi, we started using Happo with the Github integration over at https://github.com/bcgov/cas-ciip-portal, using `happo-cypress` to trigger the Happo jobs. We love it so far!

Status checks are correctly reported to PRs, but on our base branch the status check remains "Pending — job started". The Happo job itself is completed (e.g. https://happo.io/a/336/jobs/29680).

The Happo jobs are triggered on

[2020-07-03 20:23] trotzig commented on #166
Thanks for the report! I’ll look into this after the weekend. Sounds like something isn’t triggered the right way.

Are you using CircleCi, Travis, or a different CI system? This might not matter, I’m just making sure I can debug this in the best possible way.

[2020-07-03 20:42] kyletov opened #167 "Screenshots cutting off after some height"
Hey, I'm having some trouble with getting the screenshots of all the components I want to capture in a single screenshot.

Running happo works fine, but the screenshot in the report renders the first few components perfectly fine, but the later half doesn't show at all (all blank space).

I tried rendering the components individually and the screenshot captured was exactly what I was expecting. Bu

[2020-07-03 20:43] matthieu-foucault commented on #166
Thanks for the quick response!
We use CircleCI. I am wondering if us using a different base branch than the default might have to do with this issue

[2020-07-03 20:48] trotzig commented on #166
It shouldn't matter, but I'll make sure to check that.

[2020-07-03 20:55] trotzig commented on #167
Hi @kyletov! Tall pages like this tend to be a little tricky in general. I don't know what's going on in this specific example (haven't seen this partial cutoff where some content is rendered and some is not). It might be a rendering optimization that Chrome does (but that's just a theory). It would be interesting to see if things look the same in other browsers. Can you try adding e.g. `firefox`

[2020-07-03 21:16] kyletov commented on #167
Hey @trotzig, I tried adding `firefox` and edge as the targets. `Firefox` was able to render all the components that I wanted to capture in a single screenshot.

But I get an error when I try running `edge`, this is the error I get as well as a couple of failed get requests.

This is the error:
`StatusCodeError: 500 - "An error occurred for browser-edge: The specified command did not complete befo

[2020-07-03 22:01] kyletov commented on #167
Is there any workaround to get `chrome` to work?

[2020-07-03 22:07] kyletov opened #168 "Running happo with more than 1 test file."
Hey, I'm having some trouble running more than 1 test file.
For context, the two tests that I'm running together are trying to screenshot tall pages.

This is the error I get when I try to run 2 test files:
<img width="690" alt="Screen Shot 2020-07-03 at 5 53 50 PM" src="https://user-images.githubusercontent.com/32151304/86498957-622a5500-bd56-11ea-836f-6f3f506ea2cd.png">

Is there a reason for th

[2020-07-05 09:51] trotzig commented on #167
Thanks for trying those other browsers, I was able to reproduce that Edge issue and have deployed a fix. For reference, the root cause was that MS Edge returns `<image>` elements for `document.body.querySelectorAll('img')`, and we ended up waiting indefinitely for `<image>` elements to load (which is an svg element, has no `load` event). Oh browser quirks... :)

It's hard to do anything about the

[2020-07-05 10:31] trotzig commented on #168
We recently ran into this issue with [happo-cypress](https://github.com/happo/happo-cypress) and I've applied the same fix here. Can you try installing `happo.io@5.7.0-rc.1b` and see if that resolves your issue? If so, I'll clean it up and release properly,.

[2020-07-05 15:10] kyletov commented on #168
I installed `happo.io@5.7.0-rc.1b` and tried again. I don't get the error now and happo ran got the screenshots successfully.
Thanks @trotzig!

[2020-07-05 15:24] trotzig commented on #168
Okay, great! I’ll include the fix in the next release. In the meantime you can use the rc version.

[2020-07-05 15:29] kyletov commented on #167
Ahh I see, fun with browsers lol

And I tried running another test with a tall page on Chrome, and I get a similar result, cuts off roughly around the same point, in terms of height starting from the top of the page. And if there's more components after, it's filled up with blank space.

[2020-07-07 20:53] trotzig commented on #167
One thing you could try here would be to remove the video banner from the top of the page (temporarily) and see if that makes any difference. I suspect Chrome is making some optimization here, and that the video could be part of the problem.

[2020-07-07 21:18] trotzig commented on #166
Sorry for not reporting any results back here. I haven't forgot about it, it's just that other more important things snuck in before I had a chance of addressing this. 🤷

I hope to look at this during the week though.

[2020-07-07 21:27] matthieu-foucault commented on #166
No worries, let me know if I can help debug the issue

[2020-07-07 23:27] kyletov commented on #167
Hey, I removed the video banner temporarily and tried running happo again to see if `chrome` loads the rest of the tall page.
The screenshot generated still cuts off early and filled up the remaining space with blank space for the rest of the components that didn't render.

But the removal of the video banner component resulted in the component that got cut off before (with the video banner at the

[2020-07-08 09:36] trotzig commented on #166
Okay, I think I've confirmed this is a race condition. The happo-cypress lib [posts to the create job API endpoint](https://github.com/happo/happo-cypress/blob/1c0d9a2a7fb8143889eb6fb40097c7f0be815755/bin/happo-cypress.js#L117) right after [it has initialized an async-report](https://github.com/happo/happo-cypress/blob/1c0d9a2a7fb8143889eb6fb40097c7f0be815755/bin/happo-cypress.js#L102). In your ca

[2020-07-08 10:40] trotzig commented on #166
I've just deployed a fix for the race-condition to happo.io. I'll close this issue, but feel free to reopen if the issue doesn't go away.

[2020-07-08 10:40] #166 closed

[2020-07-08 17:08] matthieu-foucault commented on #166
This is working fine now, thanks!

[2020-07-09 07:57] trotzig commented on #166
Excellent, thanks for the report!

[2020-07-09 19:13] kyletov opened #170 "Error: Error: The NODE_ENV environment variable is required but was not specified."
Hey, I'm getting this error and I'm not sure why I need to specify NODE_ENV. Can I get some clarifications on why it's needed to be specified? Thanks!

This is the file where the error occurred: `node_modules/happo.io/build/loadUserConfig.js:47:11`

[2020-07-09 19:20] trotzig commented on #170
Are you using create-react-app? I remember this being a quirk with loading cra's webpack config, as in this demo example: https://github.com/happo/happo-cra-typescript#2-configure-happojs

In this project, I have the `happo` script set up to automatically inject NODE_ENV. Would that work in your case?
https://github.com/happo/happo-cra-typescript/blob/7abd361753b0fd00fca342ff063e20840e6a5b9c/packa

[2020-07-09 19:49] kyletov commented on #170
Ahh it works, thanks!

[2020-07-09 21:01] kyletov opened #171 "Failures when running Happo"
Hey, I sometimes run into some errors when running Happo where I'd get an error like this after seeing a 5 `failed GET requests` to the same url:
`StatusCodeError: 500 - "An error occurred for browser-chrome: Error: connect ECONNREFUSED"`

It doesn't happen frequently, but I've come across this error a couple of times, sometimes on consecutive runs too if unlucky.
At the moment I just rerun Happo

[2020-07-10 11:46] #170 closed

[2020-07-13 20:10] trotzig commented on #171
I'm keeping an eye on our cluster stability right now. We've been having some issues like this a few times in the past weeks, but this is the first time I have a clear report of it causing failed builds. Will you do me a favor and update this thread when/if it happens again?

[2020-07-13 20:14] kyletov commented on #171
Alright, I'll let you know if the error comes up again 👍

[2020-07-13 22:14] trotzig commented on #167
Good news -- I was able to reproduce this and found a workaround. I hope to have that deployed during the day tomorrow.

[2020-07-13 22:52] kyletov commented on #167
That's awesome! I'll give it a test tomorrow to double check after you've deployed it, thanks!

[2020-07-14 11:17] trotzig commented on #167
The update has now been deployed to our Chrome cluster at happo.io. Let me know what you see after this update!

[2020-07-14 17:18] kyletov commented on #167
Hey @trotzig, I just ran on this version of happo (`happo.io@5.7.0-rc.1b`) again and it works really nicely now, loads more than before. But when I get to larger resolution sizes for Chrome, the end bit of the page is cut off.

Other resolution sizes I've tested on that works great are: `576x768`, `768x768`, `992x768`, `1200x768`.

I'm still using the `maxHeight: 10000` config for the targets. I t

[2020-07-14 17:48] kyletov commented on #167
I'm not sure if there was a modification in `Safari`, but I'm getting a similar kind of error for Safari. The trend of the issue I'm seems to be where the smaller the resolution(viewport), the earlier it cuts off.

I noticed this issue when I ran it on the same page when I first opened this issue, can look back and check for reference of how the full page looks like. I also ran with the same viewp

[2020-07-14 18:25] kyletov commented on #171
Alright the error happened again, same error code as above, but slightly different.

This is the error code below:
`StatusCodeError: 500 - "An error occurred for browser-firefox: Failed to decode response from marionette"`

[2020-07-14 21:38] trotzig commented on #171
Okay, this is fortunately/unfortunately a different error. Our logs shows this has happened three times in the last couple of days. A theory is that this is because our Firefox worker runs out of memory when rendering examples. I've seen this happen before, and it usually works on a second try, although in your case the retry led to the same error. I'm going to check if we need to up the memory on

[2020-07-14 21:58] trotzig commented on #167
Thanks for all the debugging info, this is very helpful!

Okay, I'll look into this. There's some code that computes the total size of all the content on the page (which is important to crop away whitespace for small components) and I think that might be hurting these taller full-page examples (I think we can skip the cropping in these cases and it will be alright). The reason the computed total s

[2020-07-20 20:31] kyletov opened #173 "Trouble using Limiting Targets"
Hey, I'm getting trouble compiling happo test files that's set up for limiting targets. I'm following the example given here: https://docs.happo.io/docs/examples#limiting-targets

The version of happo I'm running right now is the rc version mentioned from #168.

Below is the happo config and test file:
[code]

**Update**: Updated the file to match the syntax from #76.
[code]

This is the error I a

[2020-07-20 22:26] kyletov commented on #173
Oh nevermind, I realize the error now.

[2020-07-21 21:35] trotzig commented on #173
Can you send me a log of the happo run? I'm having trouble reproducing this issue.

For reference, below is what my log looks like when I have this happo file:

[code]
log:
[code]

[2020-07-22 02:17] kyletov commented on #173
This is what I got when I ran `npm run happo run --only aboutPage`:

Log:
[code]

I replaced my targets with these targets in the happo config file:
[code]

[2020-07-22 14:21] trotzig commented on #173
Thanks! I think I've found the bug now. It's the `prerender: false` that isn't working well with filtering of `targets` for individual examples. I'm working on a fix.

[2020-07-22 15:13] trotzig commented on #173
The fix is now deployed to Chrome and Firefox workers. It will be deployed to other browser targets as well, but I'll hold off on that until we know this works well. Let me know how it goes!

[2020-07-22 15:38] kyletov commented on #173
Yup, it looks like it's working now. Tested with both browsers you specified above and I also added other test files that hits all targets and everything works nicely. Thanks!

Also, a question about this command you ran `happo run --only FooBar`, how can I enable this `--only` config? Would really help with adding new happo test files to the project and making sure they work individually without

[2020-07-22 17:34] trotzig commented on #173
The `--only` flag matches on filename, so if your examples file is `about-happo.js` you can call

[code]

Notice the double dash before the `--only` flag. Without it, `npm` thinks the `--only` flag belongs to them.

[2020-07-22 18:18] kyletov commented on #173
Ahh alright, it works! Thanks for the help!

Let me know when the limiting targets bug is fixed for the Safari workers as well.

[2020-08-14 10:44] mat-sf opened #177 "Failure when running happo on safari browser"
Generating screenshots works ok on other browsers (chrome, iPhone, ie11), but when I try to generate screenshots on safari 1024x768 I receive:

[code]

[2020-08-14 10:48] trotzig commented on #177
Hi @mat-sf! Can you send me the id/name of your account in an email to support@happo.io? I'll have a look at this during the day.

[2020-08-14 13:10] trotzig commented on #177
We're continuing this in an email thread, but here's some context:
- This is a Storybook integration
- One of the stories is taking a long time rendering in Safari
- Eventually things timeout and fail the snap-request job (this is what's causing those failed GETs).

[2020-08-14 15:02] trotzig commented on #173
Sorry about the delay, this change is now deployed to all browser targets (including Safari).

[2020-08-14 15:02] #173 closed

[2020-08-14 23:17] kyletov commented on #173
No worries, and thanks for the update! Will let you know if I run into an issue regarding this in the future 👍

[2020-09-25 18:28] matthieu-foucault opened #182 "Spurious diffs with radio buttons on Safari"
Not sure what would be the cause, but we've seen this happen fairly regularly

![image](https://user-images.githubusercontent.com/2684022/94303006-053bd680-ff22-11ea-8e0e-25fa197364f2.png)

[2020-09-25 18:31] trotzig commented on #182
Hi @matthieu-foucault! What browser is this in?

[2020-09-25 18:34] matthieu-foucault commented on #182
Safari, with the following config:
[code]

[2020-09-25 18:36] trotzig commented on #182
This is most likely caused by a difference between two of our Safari workers. Depending on which one is processing your job, the result is inconsistent.

I'll have a look at this first thing after the weekend.

[2020-09-25 18:37] trotzig commented on #182
By the way, have you only seen this for radio buttons?

[2020-09-25 18:42] matthieu-foucault commented on #182
As far as I can tell, yes.
We do have a number of spurious diffs caused by our own code (I know how to fix them, just haven't had the time to do it), so it's a bit hard to tell.

[2020-09-28 07:53] trotzig commented on #182
Alright, I've investigated this and I haven't been able to pin this down to a specific worker -- they all render the colorful version of the radio buttons. I did make some changes to our logging which I hope is enough to track this down further. But for that to be of any help I kind of need this to happen again. Can you ping me when you see this again?

[2020-09-29 15:49] matthieu-foucault commented on #182
Didn't see it happen again yet.
@dleard @kriscooke please report in this thread if you notice the diff above happening.

[2020-11-10 16:33] kyletov opened #187 "Environment variables in CircleCI run"
Is it possible to set custom environment variables in CircleCI runs? I'm trying to define an environment variable `IS_HAPPO_TEST=true` when a Happo test is running.

Is it possible to tell at runtime (when the page is being screenshotted) whether the current request is from Happo within our React App?

[2020-11-10 19:20] trotzig commented on #187
Hi @kyletov! What [type of integration](https://docs.happo.io/docs/getting-started#choose-an-integration) are you using? Environment variables are handled differently depending on the integration. For Happo examples, you'd have to inject the environment variables into the webpack bundled created by Happo, via [customizeWebpackConfig](https://docs.happo.io/docs/configuration#customizewebpackconfig)

[2020-11-10 20:02] kyletov commented on #187
Hey @trotzig, I'm currently using the Happo Examples Integration. I'll try the suggestions you mentioned and update if anything comes up, thanks!

[2020-11-10 20:55] #187 closed

[2020-12-14 17:58] kyletov commented on #167
Hey @trotzig, wanted to follow up on this, I'm running Happo version 6.3.0, Chrome and Firefox are working as needed, even for taller full-page examples. Safari also works but only if it's running on 1 test file, if 2 test files were detected, it runs one of the test files as needed (screenshots the entire page for the viewports specified) but the other page gets cutoff early.

Not sure how Happo

[2020-12-14 20:20] trotzig commented on #167
Hi @kyletov! I can't remember exactly how test files are sorted, but I know it's at least consistent. I'm going to look closer at this tomorrow. In the meantime, do you have a link to a report where this is happening? You can email that to henric.trotzig@happo.io in case you don't want to share it here.

[2020-12-15 09:23] #167 closed

[2020-12-15 10:35] trotzig commented on #167
Okay, I think I've found the issue here. It has to do with Safari not properly scrolling up before computing the size of the next screenshot. And I think it only applies to [Happo Examples integrations](https://docs.happo.io/docs/examples) that have [`prerender: false` set in `.happo.js`](https://docs.happo.io/docs/configuration#prerender). I'm currently deploying a fix, I'll let you know when it

[2020-12-15 15:03] trotzig commented on #167
Okay, the deploy is done. Are you able to retrigger a build to see if things have improved?

And thanks for the report (again), your help makes happo.io better!

[2020-12-15 16:30] kyletov commented on #167
Yup, looks good to me! I just ran a Happo test run with 2 test files detected and Safari is working as needed, thank you!

And no problem! Will let you know if anything else comes up 👍

[2020-12-15 16:44] #168 closed

[2021-01-04 21:37] kyletov opened #193 "Failures running Happo - File Already Exists"
Hey @trotzig, I'm currently running Happo Examples Integration and have been getting this error a couple times when Happo is ran via `happo-ci-circleci`:

`StatusCodeError: 500 - "An error occurred for browser-safari: EEXIST: file already exists`

Takes 1 or more reruns to get a successful Happo run without erroring out, any ideas for why this is occurring?

[2021-01-04 21:39] trotzig commented on #193
Hi @kyletov! This was an issue I found on the weekend (was running an old version of Node on one worker). Are you seeing this right now? There might be a worker I missed.

[2021-01-04 21:53] kyletov commented on #193
Hey @trotzig, I haven't made a commit to check, but I got this error around 2 weeks ago. Since you found this issue recently, I'll let you know if I see the error again, thanks!

[2021-01-04 22:12] trotzig commented on #193
Okay, good to know! I made another check to make sure that I hadn't left any of the workers out. Sorry about the instability!

[2021-01-04 22:14] kyletov commented on #193
No worries, thanks for the fixes/updates!

[2021-01-04 22:18] #193 closed

[2021-01-09 02:10] monokrome opened #194 "Script for `happo-ci-circleci` broken on custom base branch"
It seems like there's an issue with **happo-ci-circleci** where it tries to compare **BASE_BRANCH** against itself after merging into the base branch. I have the **BASE_BRANCH** set to **origin/main**. Unfortunately, when that happens it seems like it fails because it tries to treat the base branch as a pull request instead of as a base branch?

I think the relevant error here is `Failed to obtain

[2021-01-09 02:38] monokrome commented on #88
I think the `dev` command seems like it'd be useful for storybook still. Aren't stories in storybook essentially analogous to `-happo.js` files in the end?

[2021-01-09 02:45] #194 closed

[2021-01-09 15:46] trotzig commented on #88
@monokrome They definitely are. Getting `happo dev` to work for storybook integrations is a little more tricky though because of how the integration is set up. Basically happo delegates preparing a static package to storybook (i.e. [`build-storybook`](https://storybook.js.org/docs/react/workflows/publish-storybook)) and then that package is sent to happo.io for screenshots. In a regular [Happo exa

[2021-01-09 15:47] trotzig commented on #194
Since you closed the issue, did you get this resolved @monokrome?

[2021-01-09 21:24] trotzig commented on #88
I've had an initial look at the outlined dev experience (button in the Storybook UI) and these are some thoughts and challenges:

- In Storybook dev mode ([`start-storybook`](https://storybook.js.org/docs/react/api/cli-options#start-storybook)), there's no ready-made package we can send to happo.io. I'm not 100% sure how the dev storybook server works, but I believe it might be generating bundles

[2021-01-09 21:28] trotzig commented on #88
By the way, this is what I had in mind for the Storybook UI (in its simplest form):

<img width="908" alt="Screenshot 2021-01-09 at 22 23 58" src="https://user-images.githubusercontent.com/578277/104108968-7339bd00-52c9-11eb-87bc-2090138778d6.png">

If you hit that button, we would show one or more screenshots in that box. If you hit it again, we would compare the new screenshots with the previous

[2021-02-19 15:51] ahobson opened #196 "Spurious diffs with iOS-safari"
This happens to us a *lot*:

<img width="911" alt="image" src="https://user-images.githubusercontent.com/21983/108527235-0f2eef00-72a0-11eb-9362-7449146646ac.png">

In particular, it seems like iOS-safari frequently has diffs related to icon assets not loading consistently.

Any advice?

[2021-02-19 16:44] trotzig commented on #196
Hi @ahobson! Sorry about this -- these shouldn't be showing up like this. Do you have a link to a report I can look at? You can send it to support@happo.io, I'll investigate to see what's up.

[2021-02-19 17:37] trotzig commented on #196
Okay, the theory right now is that we aren't waiting for background images on pseudo elements to finish before we take the screenshot. I'll update this thread once we have a fix. Appreciate the report @ahobson!

[2021-02-19 21:56] #196 closed

[2021-02-20 15:32] trotzig commented on #196
The theory was correct. A fix has been deployed to Happo's workers.

[2021-02-22 14:39] ahobson commented on #196
Thank you. We had a number of PRs from dependabot this morning and we didn't see this issue at all

[2021-06-05 12:38] trotzig opened #204 "Script `happo-ci-github-actions` fails in 6.6.0"
A change was introduced in 6.6.0 that broke some `happo-ci-github-actions` runs.

[code]

[2021-06-05 13:24] #204 closed

[2022-01-12 18:17] matthieu-foucault opened #223 "Images created by `next/image` are not rendered in screenshots"
Not quite sure what is causing it, if it's a bug or something that just needs to be documented.

Our Next.js application has a logo rendered using the [Next.js Image component](https://nextjs.org/docs/basic-features/image-optimization). Happo jobs are triggered by `happo-cypress`, and the image is present in the assets collected by Happo.

The screenshots, however, do not display the image, using

[2022-01-12 18:21] trotzig commented on #223
Hi Matthieu! Thanks for the report. This definitely seems like a bug -- let me investigate this tomorrow. We're using Next.js internally for Happo.io as well, so hopefully this shouldn't be hard to reproduce.

[2022-01-17 13:31] trotzig commented on #223
I totally forgot about this 🤦‍♂️

Having a look now.

[2022-01-17 18:03] matthieu-foucault commented on #223
Those workarounds do not fix the issue, nor they are applicable in my case as my next image has the `priority` prop, which means it will be pre-loaded.
In my bug the alt text is being rendered, not the blank placeholder.

I made progress though, and found that using **an SVG image is what causes the issue** switching it to a PNG file fixes it.

[2022-01-17 18:06] trotzig commented on #223
Oh, okay -- that's good info! I'll try reproducing it with an svg this time.

[2022-01-17 18:11] matthieu-foucault commented on #223
Before I added the `priority` prop to my image I did see spurious diffs where sometimes the blank placeholder was rendered, so there's probably a need for that workaround for images that are not preloaded.

In my case the `priority` prop is needed as the image in question is a logo in the page's header, and not having it makes the page do an initial render with the blank placeholder before the ima

[2022-01-17 19:00] trotzig commented on #223
I played around with the `priority` prop and found it to help as well.

The svg test showed me something interesting however -- all the `next/image` images are saved into a file called `.next/image` (no extension). The first stored image wins, so my svg image is showing up as a previous png. I should be able to fix this in the happo-cypress package.

[2022-01-17 20:54] trotzig commented on #223
Alright, I think I have this taken care of now. If you update to [happo-cypress@3.0.1](https://github.com/happo/happo-cypress/releases/tag/v3.0.1), the image should be included in the Happo screenshot. Let me know if that doesn't work!

[2022-01-17 20:54] #223 closed

[2022-01-18 02:17] matthieu-foucault commented on #223
That did fix the issue, thanks!

[2022-02-18 22:16] DaveSauce opened #229 "Does this work with Rollup.js?"
I have a component library that uses rollup.js and typescript. I've attempted to add WebPack to run Happo, but without any luck yet.

I've followed the [install process for examples](https://docs.happo.io/docs/examples), but I get this error:
[code]

I've also added a `webpack.config.js`:

[code]

and tried adding `babel-plugin-module-resolver`

`.babelrc`
[code]

but none of these efforts have ma

[2022-02-19 09:59] trotzig commented on #229
Hi @DaveSauce! I would recommend you [integrate using a "static bundle"](https://docs.happo.io/docs/static). It is mainly targeted at people who aren't using webpack in their own pipeline. There's a little bit more work initially (as you have to provide the bundle yourself) but you have better control through the entire chain.

Documentation is a little bare-bones at the moment. I made a Rollup de

[2022-02-21 12:34] trotzig commented on #229
Let me debug that. In the meantime, can you use the static bundle locally? It could be that there's an initialization error -- `getAllErrors` is an internal method and it could be that the static bundle errors out before the internal method is initialized (this is a somewhat wild theory).

[2022-02-21 12:35] trotzig commented on #229
The fact that it happens on chrome in one case, and another browser in another case is that we show the error from the first failing browser.

[2022-02-21 12:38] trotzig commented on #229
You were right, you don't need happo-plugin-typescript.

[2022-02-21 12:43] trotzig commented on #229
Okay, it looks like there are a few issues here. The fact that it manifests as a `ReferenceError: getAllErrors is not defined` is confusing. But I can see a few things:

- the `iframe.html` file has the wrong name/extension (yours is `iframe.hmtl`)
- there is no `/bundle.js` file in the assets that get sent to happo.io. Are you running this locally or in CI? It could be that you're not building th

[2022-02-21 20:09] DaveSauce commented on #229
@trotzig I'm only attempting to run this locally right now.

Haha - I just spent 2 minutes staring at `iframe.hmtl` before I figured out what the issue was there. 🤦‍♂️

I've been attempting to run Happo out of it's own static directory, instead of `lib`, where my bundle is. When I put `iframe.html` in `lib` and point `.happo.js` to it, I get this new error (progress!):

[code]

[2022-02-21 20:30] trotzig commented on #229
Okay, yeah this is heading in the right direction. :)

When you build `bundle.js`, where does it end up? I'm noticing that there is no `bundle.js` file in the static package sent to Happo (you can inspect what gets sent by going to happo.io > click Dashboard > click on one of the snap-requests > click the Download Assets link). In the [demo repo I made](https://github.com/happo/happo-static-packag

[2022-02-22 22:13] DaveSauce commented on #229
@trotzig Thanks for all of the help on this! 😁

I updated my rollup config like you described, and now I can see `bundle.js` in the downloaded assets. However, I'm getting this error message now:

[code]

[2022-02-23 08:38] trotzig commented on #229
Okay, that's some progress at least!

I don't actually know what the `jsxRuntime` error is. Seems related to something babel does, but I can't say for sure how you'd solve it. Does this error also occur when you [run locally](https://docs.happo.io/docs/static#testing-locally)? If it does, it's probably easier to debug in the browser (happo will only give you a one-liner of the error).

[2022-02-23 15:21] ljharb commented on #229
That’s the new jsx transform from react; it’s enabled by default in react 17, and can be opted into in react 16.

[2022-02-23 17:30] trotzig commented on #229
Yeah that's expected. The `iframe.html` file (weirdly named, I know...) is supposed to be a blank canvas for Happo to render things on (Happo workers repeatedly call `window.happo.nextExample()` to render examples).

If `window.happo` is undefined, you might be missing a call to [`happoStatic.init()`](https://docs.happo.io/docs/static#happostaticinit). Could that be it?

[2022-09-07 06:35] trotzig opened #239 "babel-polyfill always imported"
The fact that `babel-polyfill` is [imported in the main entrypoint of the library](https://github.com/happo/happo.io/blob/b399ad45f5a210934f6bbed6e9552e305cb808b8/src/index.js#L1) can lead to issues down the line for people. It was added in 280f30fcd53ed with little details on why. Since we already [include the polyfill in the cli](https://github.com/happo/happo.io/blob/b399ad45f5a210934f6bbed6e95

[2022-09-07 07:22] #239 closed

[2022-09-14 06:49] wokayme opened #241 "[Feature request] Run Function After Comparison Request"
I would like to be able to pass to happo config function which will be triggered after sending a synchronous request to the Happo repository.

## Usecase
handle statistics about flaky/failing tests for internal needs.

### Currently how I can do it
Currently, the thing I am getting back is a simple summary where I need on my own look for data and parse it. IMO it's quite dangerous as I don't know

[2022-09-14 07:18] trotzig commented on #241
Hi @wokayme, and thanks for the feature request!

This would definitely make sense. My main concern is that we've made async comparisons the default, which means the comparison result will not be available unless you set `HAPPO_IS_ASYNC=false`.

A similar idea that's been floating around is to add a way to get a callback on a URL when a result is available. This is similar to [GitHub's webhooks](h

[2022-09-14 07:32] wokayme commented on #241
In our case, we have HAPPO_IS_ASYNC set for false so it's not a problem for us.

But I think creating a webhook is quite a good idea:
1. We have unification for both parameters
2. People can try to write their own CI logic if it's more complicated

The only problem is that it requires extending API https://happo.io/docs/api.

[2022-09-14 07:36] trotzig commented on #241
Yeah, it's slightly more involved. I'm happy adding a callback in the meantime. How about we call it `afterSyncComparison` to make it a little more obvious that it's only for the sync case?

[2022-09-14 08:19] wokayme commented on #241
I added changes ;) happy to hear feedback and potential comments to units.
I didn't know how to write them keeping form 🤔 If we want to change them I would be happy to hear suggestion

[2022-09-22 07:33] wokayme commented on #241
@trotzig is any timeline for webhooks for job comparison 🤔 We are currently using `afterSyncComparison` what works well for places where we use happo-cli, unfortunately we want to do similar functionality for e2e cases.
Currently I see that we are using there `async-report` endpoint which is not documented in API documentation.
I can of course write my own way of collecting snapshots from e2e and

[2022-09-22 12:04] trotzig commented on #241
Yeah it will be hard to get happo-e2e to honor the new `afterSyncComparison` callback. Let me work out a plan internally for the webhooks, I think we should be able to start working on that soon. If you have any input, let me know here or send an email to henric@happo.io. I was probably going to mimic what github does:
- have one endpoint for all webhooks (a `type` property decides what type of ev

[2022-11-15 00:59] bryanculbertson opened #246 "Can you expand support for babel-loader to include v9"
Can you expand peer dependancies for babel-loader to include the latest version `9`?

Thank you!

https://github.com/babel/babel-loader

[2022-11-15 09:25] #246 closed

[2022-11-15 09:27] trotzig commented on #246
Released in happo.io@8.3.0

[2022-11-15 17:58] bryanculbertson commented on #246
Thank you!